.add_field_button{
    float: right;
}
.iti--separate-dial-code{
    width: 100% !important;
}
#validity-message{
    text-align: center;
    font-size: 22px;
}
#btnAddAction{
    margin-top: 25px;
}
#table-div{
    margin-top: 25px;
}
.b-top{
    border-top: 1px solid #ddd !important;
}
#search_error{
    font-size: 22px;
    color: red;
    text-align: center;
}
